:root {
  /* ========= COLORS ========= */

  --color-bg: #F3EDE3;
  --color-bg-soft: #F3EDE3;

  --color-text: #171615;
  --color-muted: #867261;

  --color-primary: #4A171B;
  --color-primary-hover: #6a2328;

  --color-border: #d4c5b6;
  --color-accent: #B89B82;
  --color-white: #ffffff;

  /* ========= TYPOGRAPHY ========= */

  --font-primary: var(--font-montserrat);

  /* ========= LAYOUT ========= */

  --container-width: 1200px;

  --section-padding-mobile: 64px;
  --section-padding-desktop: 104px;

  /* ========= RADIUS ========= */

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 28px;

  /* ========= SHADOWS ========= */

  --shadow-soft: 0 20px 60px rgba(74, 32, 37, 0.08);

  /* ========= TRANSITIONS ========= */

  --transition-main: 220ms ease;
}